<div>
	<loading-service></loading-service>   
	<nav class="navbar navbar-expand-lg navbar-dark" style="background: prefix-linear-gradient(left, #e42629, #ee7f17);background: linear-gradient(to right, #e42629,#ee7f17);">
		<a class="navbar-brand Kalinga-bold" style="color:white;" routerLink="/init"><img src="assets/images/isotipo.png" height="30"></a>
	</nav>
	<div class="top-content" style="margin-top:30px;overflow-x:hidden;heigth:100%;">
		<section class="section">
			<msg-component [mensaje]="mensaje" (valueChanged)="getValueMsg($event)"></msg-component>
			<div class="row" style="margin-top:10px;">
				<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 col-xs-12">
					<form class="text-center border border-light p-4" #changeForm="ngForm">
						<img src="assets/images/logo_app2.png" alt="" style="width:200px;">
						<p class="h5 mb-5 Kalinga" style="margin-top:10px;" lang="es">Contraseña vencida</p>
						<div class="form-floating">
							<input type="password" name="nro-pass" id="nro-pass" class="form-control Kalinga" style="background:white;" [(ngModel)]="data_pass" maxlength="20" (keydown)="keyPressCtrlZ($event)" onpaste="return false;" oncut="return false;" autocomplete="off">
							<span  class="field-icon toggle-password" (mouseover)="showPasswordActual()" (mouseout)="showPasswordActualOut()" style="vertical-align:middle;padding-top:0px;width:15px;"><img src="assets/images/eye-solid.svg" width="15px"/></span>
							<label for="nro-pass" class="Kalinga">Contraseña actual</label>
						</div>
						<div class="form-floating">
							<input type="password" name="nro-pass-new" id="nro-pass-new" class="form-control Kalinga" style="background:white;" [(ngModel)]="data_passnew" maxlength="20" (keydown)="keyPressCtrlZ($event)" onpaste="return false;" oncut="return false;" autocomplete="off">
							<span  class="field-icon toggle-password" (mouseover)="showPasswordNueva()" (mouseout)="showPasswordNuevaOut()" style="vertical-align:middle;padding-top:0px;width:15px;"><img src="assets/images/eye-solid.svg" width="15px"/></span>
							<label for="nro-pass-new" class="Kalinga">Nueva contraseña</label>
						</div>
						<div class="form-floating">
							<input type="password" name="pass-rep" id="pass-rep" class="form-control Kalinga" style="background:white;" [(ngModel)]="data_reppass" maxlength="20" (keydown)="keyPressCtrlZ($event)" onpaste="return false;" oncut="return false;" autocomplete="off">
							<span  class="field-icon toggle-password" (mouseover)="showPasswordConfirm()" (mouseout)="showPasswordConfirmOut()" style="vertical-align:middle;padding-top:0px;width:15px;"><img src="assets/images/eye-solid.svg" width="15px"/></span>
							<label for="pass-rep" class="Kalinga">Confirmar contraseña</label>
						</div>
						<div style="text-align:right;">
							<button lang="es" type="button" class="btn btn-outline-warning btn-rounded my-4 waves-effect z-depth-0 Kalinga-bold d-none d-md-inline-block" (click)="back()">Regresar</button>
							<button lang="es" type="button" class="btn btn-warning btn-rounded my-4 waves-effect z-depth-0 Kalinga-bold" (click)="clean()">Limpiar</button>
							<button lang="es" class="btn btn-rounded  my-4 waves-effect z-depth-0 Kalinga-bold" (click)="save()" [disabled]="!changeForm.form.valid" style="background: prefix-linear-gradient(left, #e42629, #ea5e1e);background: linear-gradient(to right, #e42629,#ea5e1e);">Cambiar</button>
						</div>
					</form>
				</div>		
			</div>
		</section>
	</div>
	<footer class="page-footer grey lighten-2 d-block d-sm-none" style="bottom:0px;right:0px;position:fixed;width:100%;margin-top:10px;">
		<div class="footer-copyright text-center py-3 Kalinga" style="vertical-align:middle;font-size:13px;bottom:0px;float:bottom;line-height:15px;background:#8d8d8d;">© calcYearCopy()Copyright:
			<a href="https://www.paguetodo.com" style="font-size:13px;" class="Kalinga-bold"> Servicios Paguetodo C.A.</a>
		</div>
	</footer>
	<footer class="page-footer grey lighten-2 d-none d-sm-inline-block" style="bottom:0px;right:0px;width:100%;margin-top:10px;position:fixed;">
		<div class="footer-copyright text-center py-3 Kalinga" style="vertical-align:middle;font-size:13px;bottom:0px;float:bottom;line-height:15px;background:#8d8d8d;">© calcYearCopy()Copyright:
			<a href="https://www.paguetodo.com" style="font-size:13px;" class="Kalinga-bold"> Servicios Paguetodo C.A.</a>
		</div>
	</footer>
</div>


