 <div style="overflow-x:hidden;">
	<nav class="navbar navbar-expand-lg navbar-dark" style="background: prefix-linear-gradient(left, #e42629, #ee7f17);background: linear-gradient(to right, #e42629,#ee7f17);">
		<a class="navbar-brand Kalinga-bold" style="color:white;" routerLink="/init"><img src="assets/images/isotipo.png" height="30"></a>
	</nav>
	<div class="top-content" style="margin-top:30px;">
			<div class="row">
				<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
					<msg-component [mensaje]="mensaje" (valueChanged)="getValueMsg($event)" ></msg-component>
					<loading-service></loading-service>   
					<form class="text-center border border-light p-4" #changeForm="ngForm">
						<img src="assets/images/logo_app2.png" alt="" style="width:200px;">
						<p class="h5 mb-5 Kalinga-bold" lang="es">Cambiar contraseña</p>
						<div class="form-floating">
							<h6 class="Kalinga" style="color:#3f51b5;">{{email}}</h6>
						</div>
						<div class="form-floating">
							<input type="password" name="newpass" id="newpass" class="form-control Kalinga" style="background:white;" [(ngModel)]="dataChange.password" maxlength="20" (keydown)="keyPressCtrlZ($event)" onpaste="return false;" oncut="return false;" autocomplete="off">
							<span  class="field-icon toggle-password" (mouseover)="showPasswordNueva()" (mouseout)="showPasswordNuevaOut()" style="vertical-align:middle;padding-top:0px;width:15px;"><img src="assets/images/eye-solid.svg" width="15px"/></span>
							
							
							
							<label for="newpass" class="Kalinga" lang="es">Nueva contraseña</label>
						</div>
						<div class="form-floating">
							<input type="password" name="newpass2" id="newpass2" class="form-control Kalinga" style="background:white;" [(ngModel)]="dataChange.confirm_password" maxlength="20" (keydown)="keyPressCtrlZ($event)" onpaste="return false;" oncut="return false;" autocomplete="off">
							<span  class="field-icon toggle-password" (mouseover)="showPasswordConfirm()" (mouseout)="showPasswordConfirmOut()" style="vertical-align:middle;padding-top:0px;width:15px;"><img src="assets/images/eye-solid.svg" width="15px"/></span>
							<label for="newpass2" class="Kalinga" lang="es">Confirmar contraseña</label>
						</div>
						<div class="row"  style="margin-top:0px;padding-top:0px;margin-bottom:10px;">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<button style="font-size:11px;" type="button" class="btn btn-outline-warning btn-rounded my-4 waves-effect z-depth-0 Kalinga-bold d-none d-md-inline-block" (click)="back()" lang="es">Regresar</button>
								<button style="font-size:11px;" type="button" class="btn btn-warning btn-rounded my-4 waves-effect z-depth-0 Kalinga-bold" (click)="clean()" lang="es">Limpiar</button>
								<button class="btn btn-rounded  my-4 waves-effect z-depth-0 Kalinga-bold" (click)="changePass(dataChange)" style="background: prefix-linear-gradient(left, #e42629, #ea5e1e);background: linear-gradient(to right, #e42629,#ea5e1e);font-size:11px;" lang="es">Cambiar</button>
							</div>
						</div>
					</form>
					
				</div>
			</div>
			<footer class="page-footer grey lighten-2 d-block d-sm-none" style="bottom:0px;right:0px;width:100%;margin-top:10px;">
			<div class="footer-copyright text-center py-3 Kalinga" style="vertical-align:middle;font-size:13px;bottom:0px;float:bottom;line-height:15px;background:#8d8d8d;">© calcYearCopy()Copyright:
				<a href="https://www.paguetodo.com" style="font-size:13px;" class="Kalinga-bold"> Servicios Paguetodo C.A.</a>
			</div>
		</footer>
		<footer class="page-footer grey lighten-2 d-none d-sm-inline-block" style="bottom:0px;right:0px;width:100%;margin-top:10px;position:fixed;">
			<div class="footer-copyright text-center py-3 Kalinga" style="vertical-align:middle;font-size:13px;bottom:0px;float:bottom;line-height:15px;background:#8d8d8d;">© calcYearCopy()Copyright:
				<a href="https://www.paguetodo.com" style="font-size:13px;" class="Kalinga-bold"> Servicios Paguetodo C.A.</a>
			</div>
		</footer>
		</div>
</div>
