<div>
	<nav class="navbar navbar-expand-lg navbar-dark" style="background: prefix-linear-gradient(left, #e42629, #ee7f17);background: linear-gradient(to right, #e42629,#ee7f17);">
		<a class="navbar-brand Kalinga-bold" style="color:white;" routerLink="/init"><img src="assets/images/isotipo.png" height="30"></a>
	</nav>
	<div class="top-content" style="margin-top:30px;overflow-x:hidden;heigth:100%;">
		<msg-component [mensaje]="mensaje" ></msg-component>
		<div class="row" style="justify-content: center;">
			<div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
				<loading-service></loading-service>   
				<form class="text-center border border-light p-4"#resetForm="ngForm">
					<img src="assets/images/logo_app2.png" alt="" style="width:200px;">
					<p class="h5 mb-5 Kalinga-bold" lang="es">Recuperar contraseña</p>
					<div class="form-floating" style="margin-bottom:10px;">
						<input type="email" name="correo-reset" autocomplete="off" id="correo-reset" class="form-control Kalinga" style="text-transform:lowercase;background:white;" [(ngModel)]="recoveryPassword.email" maxlength="60" required  [disabled]="flagQuestion && listQuestion!=null && listQuestion.length!=0" (keyup)="keyupsearch(recoveryPassword,$event)" (keypress)="validarEmail($event,recoveryPassword.email)" autocomplete="off">
						<label for="correo-reset" class="Kalinga" lang="es">Correo electrónico</label>
					</div>
	                <div  style="margin-bottom:5px;" class="row" *ngIf="flagQuestion && listQuestion!=null && listQuestion.length!=0">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"  *ngFor="let question of listQuestion; let i = index;">
							<div class="form-floating" style="margin-bottom:10px;">
								<input type="password" name="pregunta{{i}}" id="pregunta{{i}}" class="form-control Kalinga" style="background:white;"  maxlength="50" required [(ngModel)]="question.value" (keyup)="keyupsearch(recoveryPassword,$event)" (keypress)="validarEmail($event,recoveryPassword.email)" autocomplete="off">
								<span  class="field-icon toggle-password" (mouseover)="mostrarIcon(i)" (mouseout)="ocultarIcon(i)" style="vertical-align:middle;padding-top:0px;width:15px;"><img src="assets/images/eye-solid.svg" width="15px"/></span>
								<label [attr.for]="'pregunta' + i" class="Kalinga" lang="es">{{question.name}}</label>
							</div>
						</div>
	                </div>
					<div class="row" style="place-content: center;" *ngIf="flagQuestion && listQuestion!=null && listQuestion.length!=0">
						<p class="Kalinga">¿A que correo desea enviar la informacion?</p>
						<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="text-align:center;">
							<div class="page">
								<div class="page__toggle" style="display:inline-block;margin-right:5px;">
									<label class="toggle" style="border: #ee7f17;">
										<input class="toggle__input" type="checkbox" (click)="selectEmail()"  [(ngModel)]="itemPrincipal" name="email1">
										<span class="toggle__label">
											<span class="toggle__text Kalinga" lang="es">Correo principal</span>
										</span>
									</label>
								</div>
								<div class="page__toggle" style="display:inline-block;">
									<label class="toggle">
										<input class="toggle__input" s type="checkbox"  (click)="selectEmail()" [(ngModel)]="itemSegundario" name="email2">
										<span class="toggle__label" tyle="border: 1px solid #ee7f17">
											<span class="toggle__text Kalinga" lang="es">Otro correo</span>
										</span>
									</label>
								</div>
							</div>
						</div> 	
					</div>
					<div  style="margin-bottom:5px;" class="row" *ngIf="itemSegundario == true">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
							<div class="form-floating" style="margin-bottom:10px;">
								<input type="text" name="othermail" id="othermail" class="form-control Kalinga" style="background:white;"  maxlength="50" required [(ngModel)]="othermail" autocomplete="off">
								<label for="othermail" class="Kalinga" lang="es">Otro correo</label>
							</div>
						</div>
	                </div>
					<div>
						<button type="button" style="font-size:11px;" class="d-md-inline-block btn btn-outline-warning btn-rounded waves-effect z-depth-0 Kalinga-bold" (click)="back()" lang="es">Regresar</button>
						<button style="font-size:11px;" type="button"  class="btn btn-warning btn-rounded waves-effect z-depth-0 Kalinga-bold" (click)="clean()" lang="es">Limpiar</button>
						<button style="font-size:11px;background: prefix-linear-gradient(left, #e42629, #ea5e1e);background: linear-gradient(to right, #e42629,#ea5e1e);" class="btn btn-rounded waves-effect z-depth-0 Kalinga-bold" (click)="searchQuestion(recoveryPassword.email)" *ngIf="!flagQuestion" lang="es">Consultar</button>
						<button style="font-size:11px;background: prefix-linear-gradient(left, #e42629, #ea5e1e);background: linear-gradient(to right, #e42629,#ea5e1e);" class="btn btn-rounded waves-effect z-depth-0 Kalinga-bold" (click)="reset(recoveryPassword)" [disabled]="!resetForm.form.valid"  *ngIf="flagQuestion" lang="es">Recuperar</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	<footer class="page-footer grey lighten-2 d-block d-sm-none" style="bottom:0px;right:0px;position:fixed;width:100%;margin-top:10px;">
			<div class="footer-copyright text-center py-3 Kalinga" style="vertical-align:middle;font-size:13px;bottom:0px;float:bottom;line-height:15px;background:#8d8d8d;">© calcYearCopy()Copyright:
				<a href="https://www.paguetodo.com" style="font-size:13px;" class="Kalinga-bold"> Servicios Paguetodo C.A.</a>
			</div>
		</footer>
		<footer class="page-footer grey lighten-2 d-none d-sm-inline-block" style="bottom:0px;right:0px;width:100%;margin-top:10px;position: fixed;bottom: 0;">
			<div class="footer-copyright text-center py-3 Kalinga" style="vertical-align:middle;font-size:13px;bottom:0px;float:bottom;line-height:15px;background:#8d8d8d;">© calcYearCopy()Copyright:
				<a href="https://www.paguetodo.com" style="font-size:13px;" class="Kalinga-bold" > Servicios Paguetodo C.A.</a>
			</div>
		</footer>
</div>
<div class="modal fade bd-example-modal-sm" id="preSendData" tabindex="-1" role="dialog" aria-labelledby="Mensaje" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h6 class="modal-title Poppins-regular" id="myModalLabel" style="color:#2196F3;">Confirmacion</h6>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:left;" (click)="sendMsg()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="word-wrap: break-word;">
				
			</div>
			<div class="modal-footer">
				<button type="button" style="font-size:11px;background: prefix-linear-gradient(left, #e42629, #ea5e1e);background: linear-gradient(to right, #e42629,#ea5e1e);" class="btn btn-rounded waves-effect z-depth-0 Kalinga-bold" data-dismiss="modal" (click)="executeSender()">Enviar</button>
			</div>
		</div>
	</div>
</div>