<div>
	<nav class="navbar navbar-expand-lg navbar-dark" style="background: prefix-linear-gradient(left, #e42629, #ee7f17);background: linear-gradient(to right, #e42629,#ee7f17);">
		<a class="navbar-brand Kalinga-bold" style="color:white;" routerLink="/init"><img src="assets/images/isotipo.png" height="30"></a>
	</nav>
	<div class="top-content" style="margin-top:30px;overflow-x:hidden;heigth:100%;">
		<msg-component [mensaje]="mensaje"></msg-component>
		<div class="row">
			<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
				<loading-service></loading-service>   
				<form #resendActivationForm="ngForm" class="text-center border border-light p-4">
					<img src="assets/images/logo_app2.png" alt="" style="width:200px;">
					<p class="h5 mb-5 Kalinga-bold" lang="es">Reenviar enlace de activación</p>
					<div class="row" style="margin-top:0px;padding-top:0px;">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
							<div class="form-floating" style="margin-bottom:10px;">
								<input type="email" name="email" autocomplete="off" id="email" class="form-control Kalinga" style="text-transform:lowercase;background:white;" [(ngModel)]="email" maxlength="60" autocomplete="off" required (keypress)="validarEmail($event,email)">
								<label for="email" class="Kalinga" lang="es">Correo electrónico</label>
							</div>
						</div>
					</div>
					<div class="row" style="margin-top:0px;padding-top:0px;margin-bottom:10px;">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:center">
							<button type="button" class="btn btn-outline-warning btn-rounded  waves-effect z-depth-0 Kalinga-bold d-none d-md-inline-block" (click)="back()" style="padding-top:10px;padding-bottom:10px;margin-bottom:0px;" lang="es">Regresar</button>
							<button class="btn btn-rounded waves-effect z-depth-0 Kalinga-bold" (click)="send()" style="padding-top:12px;padding-bottom:12px;margin-bottom:0px;background: prefix-linear-gradient(left, #e42629, #ea5e1e);background: linear-gradient(to right, #e42629,#ea5e1e);" lang="es">Enviar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer class="page-footer grey lighten-2 d-block d-sm-none" style="bottom:0px;right:0px;position:fixed;width:100%;margin-top:10px;">
		<div class="footer-copyright text-center py-3 Kalinga" style="vertical-align:middle;font-size:13px;bottom:0px;float:bottom;line-height:15px;background:#8d8d8d;">© calcYearCopy()Copyright:
			<a href="https://www.paguetodo.com" style="font-size:13px;" class="Kalinga-bold"> Servicios Paguetodo C.A.</a>
		</div>
	</footer>
	<footer class="page-footer grey lighten-2 d-none d-sm-inline-block" style="bottom:0px;right:0px;width:100%;margin-top:10px;position:fixed;">
		<div class="footer-copyright text-center py-3 Kalinga" style="vertical-align:middle;font-size:13px;bottom:0px;float:bottom;line-height:15px;background:#8d8d8d;">© calcYearCopy()Copyright:
			<a href="https://www.paguetodo.com" style="font-size:13px;" class="Kalinga-bold"> Servicios Paguetodo C.A.</a>
		</div>
	</footer>
</div>

